h1 {
	font-family:sans-serif;
	font-size:32px;
	font-color: #00AEA3;
	background-color: #00AEA3;
	padding:30px;
	color:white;
	display: inline-block;
	float: left;

}


nav a {
	display: inline;
	float: right;
	padding-right:15px;
	margin-right: 77px;
	margin-top: 25px;
}

	a:link {
		text-decoration-line:none;
		color: #CDBAAF;
	}

	a:hover {
		color:red;

}

h2 {
	clear:both;
	font-family: sans-serif;
	font-size: 42px;
	color: #00AEA3;
}

footer{
	clear:both;
	font-family:Arial;
	padding: 32px;
	background-color:#666666;
	text-align: center;
	font-size: 12px;
	color:white;
}


#header{
	padding-left:50px;
}

#entire {
	clear:both;
	width:100%;
	background-image: url('../images/cork-wallet.png');
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #00AEA3;
}

#main {
	float:left;
	width:650px;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 8px;

}

#side {
	width: 270px;
	float:right;
	color:#00AEA3;
	text-align: center;
	font-size: 26px;
	font-family: sans-serif;
	border-width: 1px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	padding-top: 30px;
	margin-top: 40px;
	margin-right: 138px;
	padding-bottom: 30px;
}

#clearfix{
	clear:both;
	width:100%;
}
.button {
    background-color: #00AEA3;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:8px;
}